@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





html{
  scroll-behavior: smooth;
}

@layer base{
  body{
    @apply bg-stone-950 
  }
  h1{
    @apply text-slate-100 font-bold
  }
  ul li a{
    @apply hover:text-rose-600
  }
}
.header {
  transition: background-color 0.5s ease-in-out;
}
.navbar-glassmorphism {
  background: rgba(30, 30, 30, 0.45);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(30, 30, 30, 0.225);
}
body{
  overflow-x: hidden;
}